@model SetlSityTest.Models.ApplicationUser
@{
    ViewBag.Title = "Forms";
}

<h2>Forms</h2>
<h2>@Model.LastLogIn</h2>

<h1>@Model.Tasks.FirstOrDefault(i => i.Name == "а").Name</h1>

@foreach (var task in Model.Tasks)
{
    if ((User.IsInRole("admin") || User.IsInRole("OneTask")) && task.Name == "а")
    {
        using (Ajax.BeginForm("ConvertToBin", new AjaxOptions { UpdateTargetId = "OneTask" }))
        {
            @Html.AntiForgeryToken()
            <div>Задача №1(а)</div>
            <input type="number" min="0" max="2047" name="inputData" />            
            <input type="submit" value="Поиск" />
            <p id="OneTask">

            </p>            
        }
    }

    if ((User.IsInRole("admin") || User.IsInRole("TwoTask")) && task.Name == "б")
    {
        using (Ajax.BeginForm("ConvertToHex", new AjaxOptions { UpdateTargetId = "TwoTask" }))
        {
            @Html.AntiForgeryToken()
            <div>Задача №2(б)</div>
            <input type="number" min="0" max="2047" name="inputData" />
            <input type="submit" value="Поиск" />
            <p id="TwoTask">

            </p>            
        }
    }

    if ((User.IsInRole("admin") || User.IsInRole("ThreeTask")) && task.Name == "в")
    {
        using (Ajax.BeginForm("Sorting", new AjaxOptions { UpdateTargetId = "ThreeTask" }))
        {
            @Html.AntiForgeryToken()
            <div>Задача №3(в)</div>
            <input type="number" min="1" max="2047" name="inputData" />            
            <input type="submit" value="Поиск" />
            <p id="ThreeTask">

            </p>            
        }
    }

    if ((User.IsInRole("admin") || User.IsInRole("FourTask")) && task.Name == "г")
    {
        using (Ajax.BeginForm("Fibo", new AjaxOptions { UpdateTargetId = "FourTask" }))
        {
            @Html.AntiForgeryToken()
            <div>Задача №4(г)</div>
            <input type="number" min="1" max="30" name="inputData" />
            <input type="submit" value="Поиск" />
            <p id="FourTask">

            </p>            
        }
    }

    if ((User.IsInRole("admin") || User.IsInRole("FiveTask")) && task.Name == "д")
    {
        using (Ajax.BeginForm("AddNewUser", new AjaxOptions { UpdateTargetId = "FiveTask" }))
        {
            @Html.AntiForgeryToken()
            <div>Задача №5(д)</div>
            <input type="text" name="inputData" />
            <input type="submit" value="Поиск" />
            <p id="FiveTask">

            </p>            
        }
    }


    if ((User.IsInRole("admin") || User.IsInRole("SixTask")) && task.Name == "е")
    {
        using (Ajax.BeginForm("CountUserTask", new AjaxOptions { UpdateTargetId = "SixTask" }))
        {
            @Html.AntiForgeryToken()
            <div>Задача №6(е</div>
            <input type="text" name="inputData" />
            <input type="submit" value="Поиск" />
            <p id="SixTask">

            </p>            
        }
    }

    if ((User.IsInRole("admin") || User.IsInRole("SevenTask")) && task.Name == "ж")
    {
        using (Ajax.BeginForm("Reverse", new AjaxOptions { UpdateTargetId = "SevenTask" }))
        {
            @Html.AntiForgeryToken()
            <div>Задача №7(ж)</div>
            <input type="text" name="inputData" />            
            <input type="submit" value="Поиск" />
            <p id="SevenTask">

            </p>            
        }
    }

    if (!ViewBag.TASK_NAMES.Contains(task.Name))
    {
        using (Ajax.BeginForm("NewTaskDo", new AjaxOptions { UpdateTargetId = "newTask" }))
        {
            @Html.AntiForgeryToken()
            <div>Новые задачи</div>
            <input type="text" name="inputData" />
            <input type="submit" value="Поиск" />
            <p id="newTask">

            </p>            
        }
    }
}

<h1>Добавление новой задачи</h1>

@using (Html.BeginForm("AddNewTask", "Task"))
{
    @Html.AntiForgeryToken()

        <input type="text" name="name" />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Добавить" class="btn btn-default" />
            </div>
        </div>
}
@*@if(User.IsInRole("admin"))
{
    using (Ajax.BeginForm("AddNewTask", new AjaxOptions { UpdateTargetId = "newTaskS" }))
    {
        @Html.AntiForgeryToken()
    
        <input type="text" name="name" />
        <input type="submit" value="Добавить" />
        <p id="newTaskS">
    
        </p>
    }
}*@