@model IEnumerable<SetlSityTest.Models.ApplicationUser>

@{
    ViewBag.Title = "History";
}

<h2>Дата и время аутентификации пользователя</h2>
<h1>@ViewBag.User.LastLogIn</h1>

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>       
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
    </tr>
}
</table>
<br />
<h2>История действий</h2>
<table class="table">
    <tr>
        <th>
            Название задачи
        </th>
        <th>
            Входные данные
        </th>
        <th>
            Выходные данные
        </th>
        <th>
            Пользователь
        </th>
    </tr>

    @foreach (var item in ViewBag.History)
    {
        <tr>
            <td>
                @item.NameTask
            </td>
            <td>
                @item.InputData
            </td>
            <td>
                @item.OutputData
            </td>
            <td>
                @item.UserName
            </td>
        </tr>
    }
</table>


